#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

#header {
    /* menu along the top of the page */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #0F1724;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 0;
}

.gameSection{
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.gameBox {
  display: flex; 
  justify-content: center; 
  align-items: center;
  padding: 80px;
}
