 #header {
    /* menu along the top of the page */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #0F1724;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 0;
}

.gameSection{
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.gameSectionHeader {
  display: flex; 
  justify-content: left; 
  flex-direction: row;
  justify-content: space-between; 
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10vw;
  margin-right: 10vw;

}

.gameBox {
  display: flex; 
  justify-content: center; 
  align-items: center;
}
