#descriptionPrompt{
    font-family: 'Galindo', sans-serif;
    font-size: larger;
    
    
    width: calc(100% - 20px);
    padding: 10px 10px 10px 10px;

    min-height: 300px;
    border-radius: 20px;

    vertical-align: top;
    word-wrap: break-word;

    /* set not resizable */
    resize: none;
}

#addGameTitle{
    font-family: 'Galindo', sans-serif;
    font-size: larger;
    color: white;
}