.gameDescriptionBox{
    background-color: #826B7A;
    width: 629px;
    border-radius: 20px;
    padding: 42px 42px 42px 42px;
    margin: 10px 20px 10px 10px;
    height: fit-content;
}

.gameTitle{
    font-family: 'Erica One', sans-serif;
    /* background-color: green; */
    margin: 0 40px 0;
    display: flex;
    justify-content: center;
}

.literallyDescription{
    font-weight: bolder;
}

.descriptionBox{
    /* background-color: blue; */
    text-align: left;
    font-family: 'Encode Sans Semi Expand', sans-serif;
}

