.GamePage{
    display: flex;
    width: 975px;
    padding-bottom: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    
    /* background-color: bisque; */
}

/*Distance between pink container and green container is 20px*/
