.background {
    display: flex;
    flex-direction: column;

    width: 575px;
    min-height: 100px;
    height: fit-content;

    background-color: rgb(11, 49, 11);
    padding: 20px;
    border-radius: 30px;
    margin: 20px 0;
}

.userName{
    font-family: 'Calibri Light', sans-serif;
    font-style:  bold;
    height: fit-content;
    font-size: 20px;
}

.review{
    font-family: 'Calibri Light', sans-serif;
    margin-top: 0.5em;
    width: inherit;
}

.givenRating{
    float: right;
}