#publishButton {
    font-family: 'Galindo', sans-serif;
    width: 120px;
    height: 35px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 20px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    background-image: linear-gradient(to right, #15a321, #27cc0a);
    box-shadow: 0 4px 15px 0 rgba(106, 50, 132, 0.75);
}

#publishButton:hover{
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}