.hideFavourites {
    position: absolute;
    display: none;
    visibility: hidden;
}



#favButton{
    align-items: center;
    font-family: 'Galindo', 'sans-serif';
    font-size: 20px;
    margin-left: 10px;
    background: none;
    border: none;
    margin-top: 5px;
}

#favButtonHeart {
    transition: 0.3s ease;
}

#favButton:hover #favButtonHeart {
    transform: scale(1.2);
}

