.game-card {
    width: 30%;
    height: 100%;
    border-radius: 1rem;
    cursor: pointer; /* making the pointer change on hover */
    overflow: hidden;
    position: relative; /*Necessary for .readHeart's positioning to work*/
}

.game-card-img {
    width: 100%;
    height: 80%;
    object-fit: cover; /* scaling the picture as large as possible */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.game-card-textbox {
    text-align: start;
    padding-left: 10px;
}

.game-card-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.game-card-category {
    margin-top: auto;
    margin-bottom: 5px;
}

#rating-box {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: rgba(29, 54, 58, 0.515);
    padding: 5px;
    border-radius: 10px;
    transform: translate(-5px, -20px);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.redHeartIcon {
    position: absolute;
    transform: translate(5px, -50px);
    width: 43px;
    /* color: #ff3643; */
    /* border: black solid 1px;;
    outline: white solid 1px; */
    /* filter: drop-shadow(2px 2px 4px rgba(201, 21, 27, 0.5)); */
    
}

.redHeartIconBox {
    filter: drop-shadow(0px 0px 10px rgb(112, 10, 10));
}